@import "./variables";

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  .main {
    flex: 1;
    background-color: rgb(233, 233, 233);
    display: flex;
  }
  .view {
    flex: 1;
    height: calc(100vh - #{$toolbar_height});
    overflow: scroll;
  }
}
